<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Farm Clicker</title>
  <link rel="shortcut icon" href="assets/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" type="image/png" href="assets/img/oat.png" />
</head>
<body ng-app="FarmClickerApp">
  <div ng-include src="'modules/navbar/navbar.html'"></div>
  <div ng-view></div>

  <!-- Display element for click count -->
  <div id="clickCountDisplay" class="click-count-display" ng-controller="CropsController">
      <div class="status">
        <div class="status-item">
          <span class="status-label">Earn per tap</span>
          <span class="status-value">+{{multitap}}</span>
        </div>
        <div class="status-item">
          <span class="status-label">Coins to level up</span>
          <span class="status-value">1M</span>
        </div>
        <div class="status-item">
          <span class="status-label">Profit per hour</span>
          <span class="status-value">+{{profitPerHour}}K</span>
        </div>
      </div>
      <div class="balance">
        <span class="balance-amount">{{balance}}</span>
        <span class="balance-label">Level {{level}}/{{maxLevel}}</span>
      </div>
      <div class="character">
        <img src="assets/img/character.png" alt="Character">
      </div>
      <div class="actions">
        <button class="action-btn" ng-click="showPopup('freeRefill')">Use Free Refill</button>
        <button class="action-btn" ng-click="showPopup('multitap')">Buy Multitap</button>
        <button class="action-btn" ng-click="showPopup('energyLimit')">Buy Energy Limit</button>
        <button class="action-btn" ng-click="showPopup('dailyReward')">Claim Daily Reward</button>
      </div>
    </div>
  </div>

  <!-- Popup modal -->
  <div class="modal" id="popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{popupTitle}}</h5>
          <button type="button" class="close" ng-click="hidePopup()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{popupContent}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" ng-click="hidePopup()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="confirmPopup()">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="app.js"></script>
  <script src="modules/harvest/HarvestService.js"></script>
  <script src="modules/productivity/ProductivityService.js"></script>
  <script src="modules/productivity/ProductivityUpgrades.js"></script>
  <script src="modules/crops/CropsData.js"></script>
  <script src="modules/storage/StorageService.js"></script>
  <script src="modules/storage/StorageUpgrades.js"></script>
  <script src="modules/application/ApplicationController.js"></script>
  <script src="modules/harvest/HarvestController.js"></script>
  <script
